<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>ListingHotwireDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <nav class="border-b border-gray-200 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 justify-between">
            <div class="flex">
              <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                <%= header_link "Listings", listings_path, controller_name == "listings" %>
                <%= header_link "Users", users_path, controller_name == "users" %>
                <%= header_link "Search" %>
                <%= header_link "About", about_path, controller_name == "static" && action_name == "about" %>
              </div>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:items-center">
              <span class="border-2 rounded-xl p-2">
                <%= Like.count %>
              </span>

              <div class="relative ml-3">
                <div>
                  <button type="button" class="flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <%= current_user.name %>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="py-10">
        <header>
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">
              <%= yield :page_heading %>
            </h1>
          </div>
        </header>
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="px-4 py-8 sm:px-0">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
